@media only screen and (max-device-width: 450px) {

    h1 {
        text-align: center;
    }

    h2 {
        line-height: 68px;
        font-size: 62px;
    }
    button {
        height: 80px;
        font-size: 24px;
        padding-left: 12px;
        padding-right: 12px;
    }

    h5 {
        font-size: 46px;
    }

    a {
        font-size: 28px;
    }

    p {
        font-size: 28px;
    }

    p.card {
        font-size: 24px;
        margin-top: 12px;
    }
    .content-container {
        width: 94vw;
        max-width: 94vw;
    }

    .hero-info-text-container {
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .barra-navegacao {
        width: 100%;
        margin-top: 24px;
    }

    .titulo-navegacao {
        font-size: 32px;
    }

    .section-hero {
        height: 52vh;
        padding-bottom: 48px;
    }

    .links-navegacao {
        display: none;
    }

    .hero-info {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-top: 190px;
    }

    .hero-info-title {
        font-size: 56px;
        margin-top: 12px;
    }
    
    .hero-info-subtitle {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    .hero-info-image {
        width: 300px;
        height: 100%;
    }

    .ability-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 44vw;
        height: auto;
        padding-top: 16px;
        }

    .ability-cards-container {
        grid-template-columns: auto auto;
        row-gap: 56px;
        margin-top: 44px;
        width: 44vw;
        justify-content: space-between;
    }

    .footer-content {
        width: 94%;
    }

    .section-portfolio-grid {
        grid-template-columns: auto auto;
        row-gap: 36px;
        justify-content: space-between;
        margin-top: 24px;
        margin-top: 40px;
    }

    .section-portfolio-card {
        width: 46vw;
        height: auto;
        padding: 24px 0px;
    }

    .section-portfolio-card-icon-image {
        width: 40px;
        height: auto;
    }

    .section-portfolio-card-links {
        width: 40%;
    }

    .hero-info-icons-img {
        width: 56px;
        height: 56px;
        cursor: pointer;
    }

    .hero-info-icons-container {
        margin-top: 40px;
    }

    .section-abilities {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    }

    .section-contact {
        padding-bottom: 60px;
    }
}